@import url(reset.css);
@import url(fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
}
.command_tit{
    font: 800 20px Rubik;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
    text-align: center;
    margin: 10px;
}
.command_block{
    margin: 10px auto;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5);
    padding: 5px;
}
.command_head{
    font: 900 16px Rubik;
    color: rgb(41, 41, 41);
    background-color: rgba(211, 209, 209, 0.5);
    padding: 5px;
    border-radius: 5px 5px 0 0 ;
}
.command_wrapper_desc{
    background-color: rgb(0 0 0 / 90%);;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
}
.command_desc{
    font: 400 14px Comfortaa;
    color: #fff;
}
code{
    color: #f59506;
}