@use 'reset';
@use 'fonts';
@import '../../../lecture-9-homework/css/style.css';

body{
    padding: 20px;
}
.wrappers_btn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
button{
    margin: 5px 5px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    max-width: 210px;
    height: 45px;
    border: 0px solid;
    border-radius: 10px;
    font: 900 16px Comfortaa;
    text-transform: uppercase;
    transition: .5s all ease-in-out;

    &:hover {
        color: #fff;
        background-color: #191919;
    }
}
.result_block{
    font: 900 20px Rubik;
    margin: 10px auto;
}