@import url(fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main  {
    margin: 22% auto;
    width: 400px;
    text-align: center;
    font:900 40px Comfortaa;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 
}
.btn_start{
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font: 900 15px Comfortaa;
    border: 0px ;
    border-radius:5px;
}